
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminMenu.cshtml";
}



<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0" style="color:black">Dashboard </h1>

            </div><!-- /.col -->
            <!-- /.col -->
        </div><!-- /.row -->
        <hr style="color:black;" />
    </div><!-- /.container-fluid -->
</div>


<!-- /.content-header -->
<!-- Main content -->
<!--<section class="content">
    <div class="container-fluid">-->
        <!-- Small boxes (Stat box) -->
        <!--<div class="row justify-content-center">-->

            <!--User Registration-->
            <!--<div class="col-lg-3 col-6 "  >-->
                <!-- small card -->
                <!--<div class="small-box elevation-1 bg-danger" style="height: 140px;">
                    <div class="inner">
                        <p class="">Registered Users</p>

                        <div class="spinner-border text-light Myspinner" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>


                        <h3 id="SystemUsers"></h3>
                    </div>
                    <div class="icon fa-xs">
                        <i><img src="~/images/IconUser1.png" style="width:90px" /></i>
                    </div>
                   
                </div>
            </div>-->
            <!-- ./col -->
            <!--Farmer Registration-->
            <!--<div class="col-lg-3 col-6">-->
                <!-- small card -->
                <!--<div class="small-box bg-success" style="height: 140px;">
                    <div class="inner">
                        <p>Total Farmers</p>

                        <div class="spinner-border text-light Myspinner" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        <h3 id="FarmerCount"></h3>
                    </div>
                    <div class="icon fa-xs">
                        <i><img src="~/images/IconFarmer.png" style="width:90px" /></i>
                    </div>-->
                    <!--a href="#" class="small-box-footer">
                        More info <i class="fas fa-arrow-circle-right"></i>
                    </!a-->
                <!--</div>
            </div>-->


            <!--Users Registration-->
            <!--<div class="col-lg-3 col-6">-->
                <!-- small card -->
                <!--<div class="small-box bg-gradient-lightblue" style="height: 140px;">
                    <div class="inner">
                        <p>Users</p>

                        <div class="spinner-border text-light Myspinner" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>

                        <h3 id="UserCount"></h3>


                    </div>
                    <div class="icon fa-xs">
                        <i><img src="~/images/LoginIcon.png" style="width:85px" /></i>
                    </div>-->
                    <!--a href="#" class="small-box-footer">
                          More info <i class="fas fa-arrow-circle-right"></i>
                    </!a-->
                <!--</div>
            </div>

            <div class="col-lg-3 col-6">-->
                <!-- small card -->
                <!--<div class="small-box bg-gradient-dark" style="height: 140px;">
                    <div class="inner">
                        <p>No of Deals</p>

                        <div class="spinner-border text-light Myspinner" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>

                        <h3 id="">00</h3>
                    </div>
                    <div class="icon fa-xs">
                        <i><img src="~/images/IconSales2.png" style="width:90px" /></i>
                    </div>
                    
                </div>
            </div>

        </div>-->
        <!-- /.row 1 -->
        <!-- /.row 2 Chalu hui -->
        <!--<div class="mt-auto row justify-content-center">-->

            <!--Product-->
            <!-- ./col -->


            <!--<div class="col-lg-3 col-6">-->
                <!-- small card -->
                <!--<div class="small-box bg-warning" style="height: 140px;">
                    <div class="inner">
                        <p>No of Products</p>

                        <div class="spinner-border text-light Myspinner" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>

                        <h3 id="ProductCount"></h3>
                    </div>
                    <div class="icon fa-xs">
                        <i><img src="~/images/IconProduct.png" style="width:90px" /></i>
                    </div>
                   
                </div>
            </div>-->

            <!--Category-->
            <!--<div class="col-lg-3 col-6">-->
                <!-- small card -->
                <!--<div class="small-box bg-gradient-primary" style="height: 140px;">
                    <div class="inner">
                        <p>Categories</p>

                        <div class="spinner-border text-light Myspinner" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>

                        <h3 id="CategoryCount"></h3>
                    </div>
                    <div class="icon fa-xs">
                        <i><img src="~/images/IconCategory.png" style="width:90px" /></i>
                    </div>
                   
                </div>
            </div>

            <div class="col-lg-3 col-6">-->
                <!-- small card -->
                <!--<div class="small-box bg-gradient-fuchsia" style="height: 140px;">
                    <div class="inner">
                        <p>Vegetables</p>
                        <div class="spinner-border text-light Myspinner" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>

                        <h3 id="CategoryCount">66</h3>
                    </div>
                    <div class="icon fa-xs">
                        <i><img src="~/images/IconV.png" style="width:90px"/></i>
                    </div>
                    
                </div>
            </div>-->


            <!--Users Registration-->
            <!--<div class="col-lg-3 col-6">-->
                <!-- small card -->
                <!--<div class="small-box bg-gradient-maroon" style="height: 140px;">
                    <div class="inner">
                        <p>Fruits</p>

                        <div class="spinner-border text-light Myspinner" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>

                        <h3 id="Unit">65</h3>
                    </div>
                    <div class="icon fa-xs">
                        <i><img src="~/images/IconF.png" style="width:90px" /></i>
                    </div>
                   
                </div>
            </div>


        </div>-->
        <!-- /.row 2-->

        <!--</div>
    </section>-->



        @section adminscript
{
            <script>
    $(document).ready(function() {
        var ajaxCalls = [
            { action: 'CountAllUsers', elementId: '#SystemUsers' },
            { action: 'CountAllCategories', elementId: '#CategoryCount' },
            { action: 'CountFarmer', elementId: '#FarmerCount' },
            { action: 'CountUser', elementId: '#UserCount' },
            { action: 'CountProducts', elementId: '#ProductCount' },
            // Add more objects for other calls
        ];

        ajaxCalls.forEach(function (call) {


            makeAjaxCall(call);
        });
    });

    function makeAjaxCall(call) {
        $.ajax({
            url: '@Url.Action("", "AdminHome")/' + call.action,
            type: 'GET',
            dataType: 'json',
            success: function(data) {



                //$('.Myspinner').hide(1000);
                /*$(call.elementId).text(data);*/
                $(".Myspinner").fadeOut(1500, function () {
                    // Hide the spinner with a fade-out animation over 1500 milliseconds (1.5 seconds)
                    $(call.elementId).fadeOut(100, function () {
                        // Fade out the existing content over 100 milliseconds

                        // Update the text with the new data
                        $(this).text(data).fadeIn(200, function () {
                            // Fade in the updated content over 200 milliseconds

                            // Additional code if needed after the fadeIn animation
                        });
                    });
                });




            },
            error: function() {
                console.error('Failed to fetch the count for ' + call.action);
            },
            complete: function ()
            {

            },

        });
    }


            </script>
        }
