
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Farmer/Views/Shared/_FarmerMenus.cshtml";
}
<style>
    .form-control {
        background-color: white !important; /* Use !important to override any existing styles */
        border: 1px solid blue;
    }
</style>

    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0" style="color:black">Dashboard </h1>
                    <hr style="color:black;"/>
                </div><!-- /.col -->
                <!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->

    
