
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BeforeLoginNavBar.cshtml";
} 

<br /><br />
      <body style="background: linear-gradient(to right, #8BC34A, #FFD54F);">
          <div class="container mt-5 h-75 w-75">
              <!-- Bootstrap Carousel -->
              <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner">
                      <!-- Slide 1 -->
                      <div class="carousel-item active">
                          <div class="row">
                              <!-- Image Column -->
                              <div class="col-md-5">
                                  <img src="~/images/WelcomePic1.png" class="d-block w-auto h-100" alt="Image 1">
                              </div>
                              <!-- Text Column -->
                              <div class="col-md-7 text-center bg-opacity-25 bg-black p-2 d-block rounded-3 position-absolute  mx-auto top-50 end-0">
                                  <h2 class="h2">Welcome To AgroDeals</h2>
                                  <p class="fw-bold">Grown with Love, Picked with Care.</p>
                              </div>
                          </div>
                      </div>

                      <!-- Slide 2 -->
                      <div class="carousel-item">
                          <div class="row">
                              <!-- Image Column -->
                              <div class="col-md-5">
                                  <img src="~/images/WelcomePic2.png" class="d-block w-auto h-100" alt="Image 2">
                              </div>
                              <!-- Text Column -->
                              <div class="col-md-7 bg-opacity-25 bg-black p-2 d-block rounded-3 text-center mx-auto position-absolute top-50 end-0">
                                  <h2 class="h2">Juicy, Tasty, Healthy Bites</h2>
                                  <p class="fw-bold">Nature's Bounty Awaits: Feast on the Freshest Vegetables and Fruits!</p>
                              </div>
                          </div>
                      </div>

                      <!-- Slide 3 -->
                      <div class="carousel-item">
                          <div class="row">
                              <!-- Image Column -->
                              <div class="col-md-5 ">
                                  <img src="~/images/WelcomePic3.png" class="d-block w-auto h-75" alt="Image 3">
                              </div>
                              <!-- Text Column -->
                              <div class="col-md-7 bg-opacity-25 bg-black p-2 d-block rounded-3 text-center mx-auto position-absolute top-25 end-0">
                                  <h2 class="h2">Now what are you waiting for?</h2>
                                  <p class="fw-bold">Hurry Up!! Explore our products and get in touch fast!.</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- Carousel Controls -->
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                  </button>
              </div>
          </div>
      </body>